:root{
    --fond-menu : #444444;
    --couleur-menu : aliceblue;
    --fond-menu-inverse: salmon;
    --couleur-menu-inverse: #223;
    --fond-menu-choisi: #123456;
}

footer{
    border: 2px solid black;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    clear: both;
}

.header {
    height: 125px;
}

img {
    padding-left: 20px;
    float:left;
}
#login {
    float:right;
    padding: 40px;
}
img.padding {
    padding-right: 10px;
}

nav{
    text-align: left;

}


#menu-principal {
    background-color: var(--fond-menu, #000);
    padding-top: 4px;

}

.barre-menu {
    overflow: hidden;
    display: inline-block;
}

.barre-menu a {
    float: left;
    font-size: 16px;
    color: var(--couleur-menu);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
}

.deroulant {
    float: left;
    overflow: hidden;
}

.deroulant .btn-deroulant {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--couleur-menu);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: color 0.5s, background-color 0.5s;
}

.barre-menu a:hover, .deroulant:hover .btn-deroulant {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.sous-menu {
    display: none;
    position: absolute;
    background-color: var(--fond-menu);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sous-menu a {
    float: none;
    color: var(--couleur-menu);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.5s, background-color 0.5s;
}

.sous-menu a:hover {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.deroulant:hover .sous-menu {
    display: block;
}

#texte-acceuil img{
    float: right;
    height: 150px;
}

#texte-acceuil, #section-inscription, #section-pdv{
    width: 66%;
    margin-left: 34%;
}

#section-produit{
    text-align: left;
    width: 55%;
    margin-left: 34%;
    margin-top: 5%;
}

#section-produit-img{
position: absolute;
}

#menu-gauche{
position: absolute;
width:30%;
text-align: center;
font-size: x-large;
}

#menu-gauche a{
display: block;
height: 50px;
line-height: 50px;
padding: 1.5%;
background-color: var(--fond-menu);
color: var(--couleur-menu);
text-decoration: none;
cursor: pointer;
transition: color 0.5s, background-color 0.5s;
}

#menu-gauche a:hover, #menu-gauche a.choisi:hover{
background-color: var(--fond-menu-inverse);
color: var(--couleur-menu-inverse);
}

#menu-gauche a.choisi{
background-color: var(--fond-menu-choisi);
}

fieldset{
max-width: 500px;
}
form .group{
margin-bottom: 20px;
}

form .group label{
display: inline-block;
width: 25%;
margin-right: 5%;
text-align: left;
}

form .group select{
width: 32%;
}
#renseignement-auth input{
width: 30%;
}

.submit-group input[type=submit]{
width: 150px
}
.submit-group input[type=button]{
width: 250px;
border: 0;
padding: 15px;
background: #5b77bd;
color: #fff;
cursor: pointer;
}
.submit-group {

text-align: center;
padding: 14px 0px 14px 28px;
}

#table-inscription {
border-collapse: collapse;
margin: 25px 25px 25px 0;
}

#table-inscription caption{
font-size: x-large;
}

#table-inscription td{
border: 1px solid black;
padding: 10px;
}
#table-panier {
border-collapse: separate;
border-spacing: 0 15px;
}

#list_items td {
border-top: 1px solid darkgrey;
border-bottom: 1px solid darkgrey;
vertical-align: middle;
}

#list_items td:first-child {
border-left: 1px solid darkgrey;
}

#list_items td:last-child {
border-right: 1px solid darkgrey;
}

#list_items-qte{
border: 1px solid lightgrey;
border-radius: 10px;
display: inline-flex;
height: 40px;
width: 80px;
}

#list_items-qte-btn{
display: grid;
margin: 5% 10% 5% auto;
}

#qte-button {
height: 15px;
padding-top: 0px;
background: white;
border-color: lightgray;
color: blue;
text-align: center;
}

#boutons-panier{
text-align: right;
}
#item-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


#pdv-grille {
display: grid;
grid-template-columns: auto auto auto;
justify-content: space-between;
grid-row-gap: 25px;
margin-right: 25px;
margin-bottom: 25px;
}

.pdv-item {
border: 1px solid rgba(0,0,0,0.8);
padding: 15px;
text-align: center;
}

.pdv-item h1{
font-size: x-large;
margin: 0 0 15px;
}

.pdv-item h2{
font-size: medium;
text-align: left;
}
.pdv-item ul{
padding-left: 20px;
}

#pdv-flex{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

#pdv-flex .pdv-item{
margin: 0 25px 25px 0;
}

#corps-principal{
margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
#pdv-grille {
    grid-template-columns: auto auto;
}
}

@media screen and (max-width: 600px) {
#pdv-grille {
    grid-template-columns: auto;
}
}

.centrer {
text-align: center;
}

#login-form {
max-width: 480px;
margin: 0 auto;
padding: 20px;
background: #fafafa;
border: 1px solid #ccc;
}
#login-form h1 {
margin: 0 0 20px 0;
}
#login-form input {
width: 60%;
margin: 0 0 3px 0;
padding: 7px;
}
#login-form input[type=submit] {
border: 0;
padding: 15px;
background: #5b77bd;
color: #fff;
cursor: pointer;
}
#login-form input[type=button] {
border: 0;
padding: 15px;
background: #5b77bd;
color: #fff;
cursor: pointer;
}
#btn-produit-description{
    background-color: transparent;
    color: black;
    border-color: transparent;
    font-size: 20px;
}

* {
font-family: arial, sans-serif;
box-sizing: border-box;
}

#titre-panier {
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
}

.checkout {
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: #dddfe6;
    overflow: hidden;
  
    -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
        border-radius: 12px;
  
    -webkit-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
    -moz-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
        box-shadow: 0 30px 48px rgba(37,44,65,0.32);
}

.order {
    width: 500px;
    height: 700px;
    padding: 0 30px;
    float: left;
    background-color: #f4f5f9;
    z-index: 1;
  
    -webkit-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
    -moz-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
        box-shadow: 0 15px 24px rgba(37,44,65,0.16);
}

.form-group {
    margin-bottom: 20px;
}

.checkout-panier {
    width: 100%;
    height: 500px;
}

.checkout-items {
    width: 100%;
    height: 480px;
    margin-bottom: 50px;
    overflow-y: scroll;
}

.checkout-total {
    width: 100%;
    height: 100px;
    font-size: 26px;
    font-weight: 600;
}

.paiement {
    z-index: 0;
    width: 500px;
    position: relative;
    float: right;
}

.card-form {
    width: 100%;
    position: relative;
    float: right;
    padding: 15px 35px;
}

#id_nom {
    width: 45%;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
}

#id_prenom {
    width: 45%;
    float: right;
    margin-left: 5px;
    margin-bottom: 20px;
}

#id_adresse {
    width: 100%;
    margin-bottom: 20px;
}

#id_ville {
    width: 35%;
    float: left;
    margin-bottom: 20px;
    margin-right: 5px;
}

#id_codePostal {
    width: 28%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

#id_province {
    width: 25%;
    float: right;
    margin-bottom: 20px;
    margin-left: 5px;
}

#id_telephone {
    width: 45%;
    float: left;
    margin-right: 5px;
    margin-bottom: 70px;
}

#id_courriel {
    width: 45%;
    float: right;
    margin-left: 5px;
    margin-bottom: 70px;
}

#id_cardexpiration {
    width: 45%;
    float: left;
    margin-bottom: 20px;
    margin-right: 5px;
}

#id_cardcvc {
    width: 45%;
    float: right;
    margin-bottom: 20px;
    margin-left: 5px;
}


.button-cta {
    width: 100%;
    height: 65px;
    position: relative;
    float: right;
    right: 0px;
    /* place the button on the bottom of the div */
    bottom: -60px;
    padding: 10px 20px;
    background-color: #175dff;
    border: 1px solid #175dff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #f4f5f9;
    z-index: -1;
    
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.button-cta:hover {
    background: rgb(40, 255, 130);
    border: 1px solid rgb(40, 255, 130);
    color: #000000;
}

.button-cta span {
    display: inline-block;
    position: relative;
    
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.button-cta span:after {
    content: '→';
    color: #000000;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
}
  
.button-cta:hover span {
    padding-right: 45px;
}
  
.button-cta:hover span:after {
    opacity: 1;
    right: 0;
}

/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion label {
    display: block;
}

/*
 Styling
*/
body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.accordion {
    margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
}

.accordion label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #e8e8e8;
}

.accordion label:hover,
.accordion label:focus {
    background: #d8d8d8;
}

.accordion .handle label:before {
    font-family: 'fontawesome';
    content: ">";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "v";
}


/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


a {
    color: #06c;
}

p {
    margin: 0 0 1em;
}

h1 {
    margin: 0 0 1.5em;
    font-weight: 600;
    font-size: 1.5em;
}

.accordion {
    max-width: 65em;
}

.accordion p:last-child {
    margin-bottom: 0;
}

/* Styles pour la page commande admin */
#commande_clients {
    width: 100%;
    height: 100%;
    padding: 15px 35px;
}

.commande {
    width: 100%;
    height: 100%;
    padding: 15px 35px;
    margin: auto;
    border: #06c 1px solid;
    /* border-radius: 10px; */
    margin-bottom: 25px;

    background: rgba(45, 57, 66, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(45, 57, 66, 0.67);

}

.numero_commande {
    width: 18%;
    height: 10%;
    padding: 5px 25px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 10px; 
    background-color: rgba(0, 85, 255, 0.782);
    color: white;
    font-weight: bold;
    display: inline-block;
}

.id_client {
    width: 20%;
    height: 10%;
    padding: 5px 25px;
    margin: 0 0 0 0;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.confirmer_livraison {
    width: 20%;
    height: 14%;
    padding: 5px 25px;
    border-radius: 10px;
    margin: 0 0 0 0;
    float: right;
}

.confirmer_livraison_button {
    width: 100%;
    height: 100%;
    padding: 5px 25px;
    border: rgb(15, 32, 48) 1px solid;
    border-radius: 10px;
    /* margin-bottom: 1px; */
    background-color: rgba(0, 85, 255, 0.782);
    color: white;
    font-size: 16px;
}

.adresse_livraison {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.date_commande {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.liste_produits {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 25px;
}







